<ion-header>
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title *ngIf="movie">{{movie.title}}</ion-title>
    <ion-buttons end>
    <button ion-button icon-only clear style="font-size: 1 em; " (click)="toggleFavorite()">
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie">
    <img src="{{'https://image.tmdb.org/t/p/w500/'+ movie.backdrop_path}}" />
    <ion-card-header>
      <h2>Synopsis
        <ion-badge color="dark">{{movie.vote_average}}</ion-badge>
      </h2>
      <div>
        <ion-badge color ="light"><p>date de sortie</p>{{movie.release_date}}</ion-badge>
      </div>
    </ion-card-header>
    <ion-card-content>{{movie.overview}}</ion-card-content>
  </ion-card>

  <button ion-button full icon-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>

  <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>

</ion-content>
