<ion-header>
  <ion-toolbar>
    <ion-back-button style="float:left;" ></ion-back-button>
    <ion-buttons end style="float:right;">
    <button ion-button icon-only clear style="font-size: 1em; " (click)="toggleFavorite()">
        <ion-icon [name]="isFavorite ? 'star':'star-outline'"></ion-icon></button>
    </ion-buttons>
    <ion-title style="text-align:center;" *ngIf="movie">{{movie.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movie">
    <img src="{{'https://image.tmdb.org/t/p/w500/'+ movie.backdrop_path}}" />
    <ion-card-header>
      <h2>Synopsis
        <ion-badge color="dark">{{movie.vote_average}}</ion-badge>
      </h2>
      <div>
        <ion-badge color ="light"><p>date de sortie</p>{{movie.release_date}}</ion-badge>
      </div>
    </ion-card-header>
    <ion-card-content>{{movie.overview}}</ion-card-content>
  </ion-card>

  <button ion-button full icon-left style= "height: 30px; width: 100%;" (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button>

  <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
</ion-content>
